body {
background-color:  #F8F8F8;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb( 0 0 0 / 5%), 0 2px 10px 0 rgb( 0 0 0 / 5%);
width: 240px;
z-index: 600;
}


@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

h1 {
	font-size: 5em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	color: #B0925A;
	letter-spacing: 15px;
	text-align: center;
	margin-left: 10%
}

p.intro {
	letter-spacing: -1.5px;
	font-weight: normal;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	text-align: center;
	color: #2E2E2E;
}

h2 {
	font-size: 30px; 
	text-align: left;
	font-family: 'Abril Fatface', cursive;
	margin-right: 10%;
	margin-left: 50%;
}

p.about {
	text-align: justify;
	color: #2E2E2E;
	margin-right: 10%;
	margin-left: 50%;
}

img {
	margin-left: 165%;
}

h4 { 
	font-size: 30px; 
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	margin-right: 17%;
}


form {
	letter-spacing: -1px;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	margin-left: 300px;
	
}
td, th {
	border: 7px solid grey;
	background-color: white;
	padding: 15px;
  	text-align: center;
}
.button {
 	 display: inline-block;
	 border-radius: 4px;
 	 background-color: #aaf0d1;
 	text-align: center;
 	 font-size: 18px;
	font-family: 'Abril Fatface', cursive;
 	 padding: 20px;
 	 width: 110px;
 	 transition: all 0.5s;
 	 cursor: pointer;
 	 margin: 5px;
	border: none;
}

.button span {
	  cursor: pointer;
 	 display: inline-block;
 	 position: relative;
	  transition: 0.5s;
}

.button span:after {
 	 content: '\00bb';
  	position: absolute;
  	opacity: 0;
 	 top: 0;
 	 right: -20px;
 	 transition: 0.5s;
}

.button:hover span {
 	 padding-right: 25px;
}

.button:hover span:after {
 	 opacity: 1;
 	 right: 0;
}


#panel, #flip {
	padding: 5px;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	background-color: #ebfbf4;
	border: solid 1px #c3c3c3;
  
}

#panel {
  padding: 50px;
  display: none;
}

#flip {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	letter-spacing: 8px;
	margin-left: 15%;
}

table {
margin-left: 20%;
}

